* {
    margin: 0;
    padding: 0;
}

.main-welcome__section {
    width: 100%;
    height: 100vh;
    background: #000000;
    background-image: url(img/stars.png);
    background-size: contain;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-welcome__section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c3979, transparent);
    z-index: 1000;
}

.welcome-text {
    text-align: center;
    position: absolute;
    color: white;
    top: 20vh;
    z-index: 10;
    width: 180px;
    left: calc(50% - 90px);
}

.welcome-stars__img, .welcome-stars2__img {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.welcome-rocks_back__img {
    position: absolute;
    bottom: 0;
    height: 70vh;
    z-index: 1;
    max-height: 450px;
    width: 100%;
    filter: drop-shadow(0 0 10px white);
    object-fit: cover;
}

.welcome-backplanet__lottie {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: calc(10% - 150px);
    filter: drop-shadow(0 0 20px rgb(211, 138, 59));
}

.welcome-alien__lottie {
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 3;
    transform: rotate(-10deg);
    filter: drop-shadow(0 10px 5px rgb(102, 101, 101));
}

.welcome-saturn__lottie{
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 0;
    filter: drop-shadow(0 0 10px rgb(255, 226, 7));
}

.welcome-planet__lottie {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0vh;
}

.welcome-astronaunta__lottie {
    position: absolute;
    bottom: 0;
    z-index: 7;
    left: calc(50% - 250px);
}

.welcome-orbit__lottie {
    position: absolute;
    bottom: calc(10%);
    z-index: 1;
    left: calc(50% - 150px);
    filter: drop-shadow(0 10px 30px red);
}

.welcome-rocket__lottie {
    pointer-events: none;
    position: absolute;
    left: -350px;
    transform: rotateZ(45deg);
    z-index: 1;
}

.text__div {
    background-color: #1c3979;
    padding: 40px;
    padding-top: 130px;
}